@tailwind base;
@tailwind components;
@tailwind utilities;

/**/
/* The base layer is for things like reset rules or default styles applied to plain HTML elements. */
/* The components layer is for class-based styles that you want to be able to override with utilities. */
/* The utilities layer is for small, single-purpose classes that should always take precedence over any other styles. */
/**/

@layer base {
  ::selection {
    @apply bg-zinc-800 text-white;
  }
  body {
    font-family: 'Be Vietnam Pro', sans-serif;
  }
  h1 {
    font-family: 'Bebas Neue', cursive;
  }
  h2, h3, h4 {
    font-family: 'Be Vietnam Pro', sans-serif;
  }

  h1, h2, h3, h4 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }


  /* be-vietnam-pro-regular - latin */
  @font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('/fonts/be-vietnam-pro-v10-latin-regular.woff2') format('woff2'),
        url('/fonts/be-vietnam-pro-v10-latin-regular.woff') format('woff');
    font-display: swap;
  }

  /* be-vietnam-pro-500 - latin */
  @font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('/fonts/be-vietnam-pro-v10-latin-500.woff2') format('woff2'),
        url('/fonts/be-vietnam-pro-v10-latin-500.woff') format('woff');
    font-display: swap;
  }

  /* architects-daughter-regular - latin */
  @font-face {
    font-family: 'Architects Daughter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('/fonts/architects-daughter-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/architects-daughter-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
  }

  /* bebas-neue-regular - latin */
  @font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('/fonts/bebas-neue-v9-latin-regular.woff2') format('woff2'),
        url('/fonts/bebas-neue-v9-latin-regular.woff') format('woff');
      font-display: swap;
  }

}

@layer components {
  .alink {
    @apply bg-amber-300 border-b-2 border-amber-400 hover:bg-white hover:border-b-2 hover:border-sky-400 p-1
          transition-colors duration-300;
  }
  .check {
    list-style-image: url("~/assets/checkbox2.svg");
  }
}

